@import "tailwindcss";

@theme {
  --color-science-red: #EE1826;
  --color-science-pink: #ED028D;
  --color-science-orange: #F05829;
  --color-science-lightblue: #23AAE2;
  --color-science-amber: #F2941B;
  --color-science-green: #00A652;
  --color-science-yellow: #FEF102;
  --color-science-darkgreen: #056A3B;
  --color-alpha-C: #ED1925;
  --color-alpha-I: #01A753;
  --color-alpha-N: #F05829;
  --color-alpha-T: #23AAE2;
  --color-alpha-A: #EE008C;
  --color-alpha-S: #F7941D;
  --color-alpha-A-2: #EC1F7A;
  --color-alpha-I-2: #01A552;
  --color-alpha-N-2: #EC1A25;
  --color-alpha-S-2: #23AAE2;
}
